In [1]:
pwd

'C:\\Users\\LJENG\\Desktop\\Kavy'

### maketrans and translate

In [3]:
intab = "aeiou"
outtab = "12345"
my = "this is string translate function...!!"
transtab = my.maketrans(intab, outtab)
print(my.translate(transtab))

th3s 3s str3ng tr1nsl1t2 f5nct34n...!!

In [5]:
my.maketrans??

Docstring:
Return a translation table usable for str.translate().

If there is only one argument, it must be a dictionary mapping Unicode ordinals (integers) or characters to Unicode ordinals, strings or None.-
Character keys will be then converted to ordinals.
If there are two arguments, they must be strings of equal length, andin the resulting dictionary, each character in x will be mapped to the character at the same position in y.
If there is a third argument, it must be a string, whose characters will be mapped to None in the result.
Type:      builtin_function_or_method

In [7]:
my.translate??

Signature: my.translate(table, /)
Docstring:
Replace each character in the string using the given translation table.

  table
    Translation table, which must be a mapping of Unicode ordinals to
    Unicode ordinals, strings, or None.

The table must implement lookup/indexing via __getitem__, for instance adictionary or list.  
If this operation raises LookupError, the character is left untouched.  
Characters mapped to None are deleted.
Type:      builtin_function_or_method

## Removing punctuation

In [8]:
import string

In [9]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [12]:
mystring = "!hi. wh?t is the wea[th]er li??ke>"
newstring = mystring.translate(str.maketrans("","",string.punctuation))
print(newstring)

hi wht is the weather like

### WAP to create a function to the find the length of the string without using len function

In [14]:
def length(string):
    count = 0
    for i in string:
        count += 1
    print("Length of string is : ", count)
    
string = input("Enter string : ")
length(string)

Enter string : jkasa
Length of string is :  5

### WAP to swapcase without using inbuilt swap cases - 
```
input - mR eD
outpuy - Mr Ed
```

In [16]:
def swap(string):
    outputStr = ""
    for i in string:
        if i.islower():
            outputStr += i.upper()
        elif:
            outputStr += i.lower()
        else:
            outputStr += i
    print(outputStr)

swap("mR eD")

Mr Ed

### WAP to find the number of digits in a given string, the sum of the digits and the average

In [18]:
s = input("Enter string : ")
n_d = 0
s_d = 0
a_d = 0
for i in s:
    if i.isdigit():
        n_d += 1
        s_d += int(i)
    a_d = s_d/n_d
print("Count : ", n_d)
print("Sum : ", s_d)
print("Avg : ", a_d)

Enter string : 12304 hi hello9
Count :  6
Sum :  19
Avg :  3.1666666666666665

### WAP to shift the numbers based on the following conditions : 
```
input-
given string - 12345
shift 1 = output -> 23451
shift 2 = output -> 34512
shift 3 = output -> 45123
shift 4 = output -> 51234
shift 5 = output -> 12345
shift 6 = output -> 54321
```

In [23]:
def shiftNum(num, shift):
    strnumber = str(num)
    digits = len(strnumber)
    
    if shift > digits:
        result = strnumber[::-1]
    else:
        result = strnumber[shift:] + strnumber[:shift]
    
    return int(result)

num = int(input("Enter number : "))
shift = int(input("Enter shift : "))
shiftNum(num, shift)

Enter number : 12345
Enter shift : 6

54321

# TUPLES
-> Tuple is an immutable data structure with ordered sequence and hence it can be indexed or sliced since it is an iterable it can be looped too.

## Creating tuple

In [24]:
t = ()
print(type(t))

<class 'tuple'>

In [25]:
t = 5,6,7
print(t)
print(type(t))

(5, 6, 7)
<class 'tuple'>

In [26]:
a,b,c = t
print(a,b,c)

5 6 7

### Zipping

In [27]:
a,b,*c = (1,2,3,4)
print(a,b)
print(c)

1 2
[3, 4]

In [28]:
a = (1,2,3)
b = (4,5,6)

In [29]:
print(tuple(zip(a,b)))

((1, 4), (2, 5), (3, 6))

In [30]:
list(zip(a,b))

[(1, 4), (2, 5), (3, 6)]

### Tuple allows different data structures as elements

In [31]:
t = (None, 1, [1,2],'hi')

### Immutability

In [32]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

### Indexing

In [33]:
print(t)

(None, 1, [1, 2], 'hi')

In [34]:
print(t[0])

None

In [35]:
print(t[1])

1

In [36]:
print(t[2])

[1, 2]

In [37]:
print(t[-1])

hi

In [38]:
t[2][0] = 100

In [39]:
print(t)

(None, 1, [100, 2], 'hi')

### Type conversion

In [40]:
t = tuple("Hello")
print(t)

('H', 'e', 'l', 'l', 'o')

### `+ and *`

In [41]:
t1 = (1,2,3)
t2 = (4,5,6)

In [42]:
print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [44]:
print(t1 * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### Membership operator

In [47]:
t = (2,3,4,5)
print(4 in t)
print(100 in t)
print(100 not in t)

True
False
True

### Iterating through tuple

In [48]:
for i in t:
    print(i)

2
3
4
5

### Enumerate

In [49]:
for i in enumerate(t):
    print(i)

(0, 2)
(1, 3)
(2, 4)
(3, 5)

In [50]:
for i,j in enumerate(t):
    print(i,j)

0 2
1 3
2 4
3 5

### Universal functions

In [53]:
t = (5,2,7,8,2,6,9)
print(len(t))
print(min(t))
print(max(t))
print(sorted(t))
print(sorted(t, reverse=True))
print(t)

7
2
9
[2, 2, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 2, 2]
(5, 2, 7, 8, 2, 6, 9)

### Comparisons

In [54]:
t1 = (1,2,3)
t2 = (4,5,6)
t1 == t2

False

In [55]:
t1 = (1,2,3)
t2 = (4,5,6)
t1 < t2

True

In [56]:
t1 = (1,2,3)
t2 = (4,5,6)
t1 > t2

False

### sum method

In [57]:
t = (3,4,5)
sum(t)

12

### tuple methods

In [59]:
t.count??

In [60]:
t = (3,3,3,5,4,6,6)

In [61]:
t.count(3)

3

### index methods

In [62]:
t.index??

In [63]:
t.index(3)

0

In [64]:
t

(3, 3, 3, 5, 4, 6, 6)

In [65]:
t.index(3,1)

1

In [66]:
t.index(3,3)

ValueError: tuple.index(x): x not in tuple

### WAP to find the number of even integers and odd integers in a given tuple and return the count

In [69]:
t = (1,2,3,4,5,6,7)
oddCount=0
evenCount=0
for i in t:
    if i%2==0:
        evenCount += 1
    else:
        oddCount += 1
print("even : ", evenCount)
print("odd : ", oddCount)

even :  3
odd :  4

### Eval

In [70]:
t = eval(input("Enter the comma separated numbers : "))
oddCount=0
evenCount=0
for i in t:
    if i%2==0:
        evenCount += 1
    else:
        oddCount += 1
print("even : ", evenCount)
print("odd : ", oddCount)

Enter the comma separated numbers : 2,2,2,2,2,2
even :  6
odd :  0